spring:
  config:
    activate:
      on-profile: "local"

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${LOCAL_DB_URL}
    username: ${LOCAL_DB_USERNAME}
    password: ${LOCAL_DB_PASSWORD}
  sql:
    init:
      mode: never # SQL 스크립트 자동 실행 방지

  # jpa
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        highlight_sql: true
        format_sql: true
        show_sql: true
        default_batch_fetch_size: 1000

  #log
  logging:
    level:
      root: INFO