spring:
  config:
    activate:
      on-profile: "dev"

  sql:
    init:
      mode: never # SQL 스크립트 자동 실행 방지

  # jpa
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        highlight_sql: true
        format_sql: true
        show_sql: true
        default_batch_fetch_size: 1000

  #log
  logging:
    level:
      root: INFO
      org:
        hibernate:
          SQL: DEBUG